---
layout: default
---

<div class="container-fluid">
      <div class="row">
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <div class="text-center">
              <img src="{{ site.url}}/{{ site.baseurl }}/images/profile.jpg" alt="profile picture" class="rounded">
            </div>
            <h3 style="text-align: center;">{{site.name}}</h3>
          </div>
          <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
            {{site.posts}}
          </div>
      </div>
</div>

{{content}}

<hr>
<div style="text-align: center;">
      <a href="https://linkedin.com/in/{{ site.linkedin }}" class="btn-floating btn-lg btn-tw" type="button" role="button"><i class="fab fa-linkedin"></i></a>
      <a href="http://web.facebook.com/{{ site.facebook }}" class="btn-floating btn-lg btn-tw" type="button" role="button"><i class="fab fa-facebook"></i></a>
      <a href="http://github.com/{{ site.github }}" class="btn-floating btn-lg btn-tw" type="button" role="button"><i class="fab fa-github"></i></a>
      <a href="http://twitter.com/{{ site.twitter }}" class="btn-floating btn-lg btn-tw" type="button" role="button"><i class="fab fa-twitter"></i></a>
</div>
