---
layout: default
---

<div class="container-fluid">
      <div class="row">
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <div class="text-center">
              <img src="{{ site.url}}/{{ site.baseurl }}/images/profile.jpg" alt="profile picture" class="rounded">
            </div>
            <h3 style="text-align: center;">{{site.name}}</h3>
            <a href="http://facebook.com/{{ site.facebook }}"><i class="fa fa-facebook"></i></a>
            <a href="https://mx.linkedin.com/in/{{ site.linkedin }}"><i class="fa fa-linkedin"></i></a>
            <a href="http://github.com/{{ site.github }}"><i class="fa fa-github"></i></a>
            <a href="http://twitter.com/{{ site.twitter }}"><i class="fa fa-twitter"></i></a>
            <div style="background-color:lightblue">
              <h3>This is a heading</h3>
              <p>This is a paragraph.</p>
            </div>
          </div>
          <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
            {{site.posts}}
          </div>
      </div>
</div>

{{content}}
